* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*html,
body {
    overflow-x: hidden;
}*/

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    color: inherit;
    background-color: transparent;
}

.trends-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.trend-teg-link {
    display: block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    opacity: 0.75;
    transition: opacity 0.2s linear;
}

.trend-teg-item:not(:last-child) {
    margin-right: 20px;
}

.trend-teg-link:hover {
    text-decoration: underline;
    opacity: 1;
}

.post-title {
    margin-top: 15px;
}

.post-title a {
    display: block;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
}

.common-title {
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.common-title::after {
    content: '';
    display: block;
    height: 2px;
    width: 70px;
    background-color: #b59f5b;
    margin: 10px auto 0 auto;
}

.article-all-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-news_link {
    display: block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    opacity: 0.75;
    transition: opacity 0.2s linear;
}

.article-news:not(:last-child) {
    margin-right: 20px;
}

.article-news_link:hover {
    text-decoration: underline;
    opacity: 1;
}
 
.input-button {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.global-input:focus {
    outline: #b59f5b solid 2px;
    outline-offset: -2px;
}

/* ======CONTAINER===========*/

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ==========HEADER=========*/

.header {
    min-height: 523px;
    background: #b2b2b2 url('../images/banner-bg.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-wrapper {
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
    z-index: 10;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_menu {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list-items {
  display: flex;
  list-style: none;
}
.menu-link {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.75;
}

.menu-link:hover {
  text-decoration: underline;
  opacity: 1;
}
.main-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;  
}
.menu-item:nth-child(n + 2) {
  margin-left: 35px;
}
.main-item:not(:first-child) {
  margin-top: 60px;
}

.header-hamburger {
    display: none;
}

.menu-text {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.menu-title {
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.4;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
.header-logo-img {
  width: 180px;
}

/*=================TRENDS=================*/ 
.trends {
    margin-top: 65px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.trend-title {
    font-weight: 700;
    font-size: 20px;
}

.trends-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.trends-item {
    display: flex;
    width: 25%;
    min-height: 25%;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    border: 1px solid #ffffff;
    background-color: #444444;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px 22px;
}


.trends-item::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.trend-1 {
  background-image: url('../images/trend1.jpg');
}
.trend-2 {
  background-image: url('../images/trend2.jpg');
}
.trend-3 {
  background-image: url('../images/trend3.jpg');
}
.trend-4 {
  background-image: url('../images/trend4.jpg');
} 

.trends-content {
    /*display: flex;
    /*width: 90%;
    flex-direction: column;
    justify-content: space-between;
    /*margin-bottom: 20px;*/
    margin-left: 22px;
    margin-right: 22px;
    padding: 40px 15px 35px;
    border: 4px solid #b59f5b;
    /*position: absolute;*/
    z-index: 10;
}

.trend-title {
  margin-top: 5px;
}

.trend-link:hover {
  color: #b59f5b;
}
.trend-link {
    font-size: 20px;
    color: #ffffff;
}

/*==========CONTENT==========*/
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 58px;
  margin-left: auto;
  margin-right: auto;
}

.main {
    width: 100%;
    max-width: 780px;
}

.article {
  display: flex;
  align-items: flex-start;
}

.article:not(:first-child) {
    margin-top: 60px;
}
.article-img {
  display: block;
  width: 100%;
  margin-right: 30px;
}

.article-title_link {
  color: #000000;
}
.article-title_link:hover {
  color: #b59f5b;
}

.article-info {
    display: flex;
    margin-top: 20px;
}
.article-date {
    font-weight: 400;
    font-size: 12px;
    color: #888888;
    margin-right: 15px;
}
.article-author {
    font-weight: 700;
    font-size: 12px;
    color: #000;
}

.post-text {
  margin-top: 55px;
}
.post-text-p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
}
.main-post-text p ~ p { /*post-text-p ~ post-text-p ???????????????? */
    margin-top: 10px;
}


/* ============ASIDE===========*/
.aside {
   width: 100%;
    max-width: 275px;
}

.aside-title {
    font-weight: 700;
    font-size: 14px;
}

.post-article {
  display: flex;
  align-items: flex-start;
  margin-top: 34px;
}

.post-article-img {
    display: block;
    margin-right: 20px;
    width: 100%;
    max-width: 70px;
}

.post-article-text {
    max-width: 185px;
}

.post-article-date {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}
.post-article-title {
  margin-top: 10px;
}
.post-article-link {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
}

.post-article-link:hover {
  color: #b59f5b;
}

/*search*/

.search-form {
  width: 100%;
  position: relative;
  margin-top: 60px;
}

.search-input {
  padding: 0px 20px 0px 20px;
  width: 83%;
  height: 50px;
  /*padding: 0 20px;*/
  border: none;
  background-color: #f4f7f6;
  outline: none;
  font-size: 13px;
  font-weight: 400;

}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: none;
  background-image: url(../svg/search.svg);
  background-color: #b59f5b;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.search-button:hover {
  background-color: #323232;
}

/*--------- Рассылка ---*/ 
.mailing {
  margin-top: 62px;
}

.input-mailing {
  margin-top: 25px;
  height: 50px;
  width: 100%;
  background-color: #f4f7f6;
  font-size: 13px;
  padding: 20px;
}

.mailing-button {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #b59f5b;
  text-transform: uppercase;
  cursor: pointer;
}

.mailing-button:hover {
  background-color: #323232;
}

/*------------------ Теги ------------------*/
.tags {
  margin-top: 62px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

.tags-list_item {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-list_link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 13px;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  opacity: 1;
  border: 2px solid #ededed;
}

.tags-list_link:hover {
  border: 2px solid #b59f5b;
  opacity: 1;
}

.themes {
  margin-top: 62px;
}

.list-theme {
  margin-top: 10px;
  width: 100%;
}

.list-theme-item {
    padding: 12px 0;
    border-bottom: 2px solid #ededed;
}

.list-theme-link {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.list-theme-link:hover {
  color: #b59f5b;
}

.list-theme-count {
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
  vertical-align: super;
}



/* =================PRODUCTS================= */
.shop-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 65px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto 0 auto;
}

.product {
  display: flex;
  width: calc(100% / 3);
  flex-direction: column;
}

.product-item-image {
    align-self: center;
    width: 100%; 
    padding: 0 40px;
}

.product-photo {
    width: 100%;
}

.product-text {
   width: calc(100% - 140px / 3);
    /*display: flex;
    flex-direction: column;*/
    align-self: center;
    flex-grow: 1;
    margin-top: -30px;
    padding: 55px 22px 25px 22px;
    border: 4px solid #d5c69f;
}


.desk-img {
  display: block;
  width: 100%;
}
.product-item {
    font-size: 15px;
    margin-bottom: 30px;
}
.product-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.product-description {
    font-size: 15px;
    line-height: 1.5;
    color: #0f0d0e;
    margin-bottom: 30px;
}

.product-description-link {
    color: #c8c082;
}

.product-description-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.price-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.price {
    display: flex;
    flex-direction: column;
}
.price-before {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}
.price-now {
    font-size: 20px;
    font-weight: 700;
}

.product-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    /*margin-top: 10px;*/
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: 700;
    color: #f0ecde;
    text-transform: uppercase;
}

.product-link:hover  {
    background-color: #323232;
}



/*socials*/

.articles-footer {
  margin-top: 64px;
  padding-bottom: 40px;
  text-align: center;
}
.articles-socials {
  margin-bottom: 20px;
  background-color: #f4f7f6;
  padding: 30px 0;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.socials {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}
.socials-item {
 /*margin-left: 5px;
  margin-right: 5px;*/
  display: inline-block;
}
.socials-link {
  display: block;
  padding: 5px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}
.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}
.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}
.socials-link-instagramm {
  background-image: url(../svg/005-instagram.svg);
}
.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  display: block;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 74px;
}
.copyright-link:hover {
  text-decoration: underline;
}
.copyright-link {
  color: #999999;
  text-decoration: none;
}


/*----------------- POPUP  -----------------*/
.modal {
    display: flex; 
    align-items: center;
    justify-content: center;
    /*visibility: hidden;*/
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
}

.modal-window {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
/*.modal-window-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}*/

.modal-window-body {
    max-width: 320px; 
    padding: 50px 30px;
    background-color: #ffffff;
    position: fixed;  
}

.modal-window-close { /*кнопка закрытия*/
    position: absolute;
    right: 0;
    top: -50px;
    cursor: pointer; 
}

.modal-X-button-icon { /*кнопка закрытия*/
    width: 20px;
    height: 20px; 
}

.modal-screenreader-only { /*кнопка закрытия*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

.modal-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-text {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 13px;
}

.modal-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4f7f6;
    background-image: url('../svg/form-arrows.svg');
    background-position: center right 15px;
    background-repeat: no-repeat;
    background-size: 10px;
}

.radio-group {
    margin-right: 15px;
    vertical-align: middle;
}
.radio-group:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url('../svg/form-empty-circle.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.email-radio:checked + .radio-group::before {
    background-image: url('../svg/form-circle.svg');
}

.modal-textarea {
    width: 100%;
    height: 100px;
    max-height: 130px;
    padding-top: 20px;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4f7f6;
}

.modal-btn {
    width: 100%;
    height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #b59f5b;
    margin-top: 25px;
 }


.modal-btn:hover {
    background-color: #323232;
}


/*=================Adaptive=============*/

@media (max-width: 1199px) {
    .container {
        padding: 0 35px;
    }

    .header {
        /*min-height: 395px;*/
        background: #b2b2b2 url('../images/banner-bg-tablet.jpg') center no-repeat;
        background-size: cover;
    }

    .header-wrapper {
        padding-top: 50px;
    }

    .list-items {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: -100%;
        width: 30%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.6s all;
    }

    .menu-item {
        padding-right: 0;
        border: none;
        margin: 20px 0;
    }

    .menu-link {
        font-size: 20px;
    }

    .header-hamburger {
        display: block;
        width: 22px;
        height: 12px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .header-hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 5px;
        transition: 0.5s all;
    }

   .menu-text {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-title {
        font-size: 40px;
        max-width: 615px;
    }

    .trends {
        margin-top: 50px;
    }

    .trend-title {
        font-size: 18px;
    }

    .trends-wrapper {
        margin-top: 15px;
    }

    .trends-content {
        padding: 10px 2px;
    }

    .trend-link {
        font-size: 16px;
    }

    .content {
        justify-content: center;
        margin-top: 50px;
    }

    .main {
        width: 100%;
        margin-right: 35px;
    }

    .article-img {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .article {
        flex-direction: column;
        padding-bottom: 25px;
        border-bottom: 2px solid #eeeeee;
    }

    .article:not(:first-child) {
        margin-top: 35px;
    }

    .article-all-news {
        margin-top: 15px;
    }

    .article-title_link {
        font-size: 17px;
    }

    .article-info {
        margin-top: 35px;
    }

    .post-text {
        margin-top: 35px;
    }

    .shop-title {
        font-size: 18px;
        margin-top: 50px;
    }

    .product-list {
        margin: 0 auto;
    }

    .product {
        width: 50%;
        margin-top: 30px;
    }

    .product -text {
        width: calc(100% - 25px / 2);
        margin-top: -40px;
    }

    .footer {
        margin-top: 50px;
    }

    .modal-window {
        top: 250px;
    }

    .modal-window-close {
        top: -35px;
    }

    .modal-X-button-icon {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    .trends-item {
        width: 50%;
    }

    .modal-window {
        top: 0px;
    }
}


@media (max-width: 640px) {
    .container {
        padding: 0 15px;
    }

    .header {
        min-height: 635px;
        background: #b2b2b2 url('../images/banner-mobile.jpg') no-repeat center;
        background-size: cover;
        padding-top: 30px;
    }

    .header-wrapper {
        padding-top: 0px;
    }

    .nav-menu {
        flex-direction: column-reverse;
        padding-bottom: 50px;
        height: 310px;
    }

    .header-hamburger {
        align-self: flex-end;
    }

    .menu-text {
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-title {
        font-size: 26px;
        max-width: 280px;
    }

    .trends {
        margin-top: 45px;
    }

    .trend-title {
        font-size: 16px;
    }

    .trends-wrapper {
        margin-top: 25px;
    }

    .trends-item {
        width: 100%;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
    }

    .main {
        max-width: 100%;
        margin-right: 0;
    }

    .article-img {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .aside {
        max-width: 100%;
    }

    .aside-title {
        font-weight: 700;
        font-size: 16px;
        margin-top: 45px;
    }

    .post-article-text {
        max-width: 100%;
    }

    .post-article-date {
        font-size: 12px;
    }

    .post-article-link {
        font-size: 14px;
    }

    .mailing {
        margin-top: 45px;
    }

    .tags {
        margin-top: 45px;
    }

    .tags-list_item {
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .themes {
        margin-top: 45px;
    }

    .shop-title {
        margin-top: 45px;
        font-size: 16px;
    }

    .product-list {
        margin: 0 auto;
    }

    .product {
        width: 100%;
        margin-top: 30px;
    }

    .product-text {
        width: 100%;
        margin-top: -50px;
    }
    .modal-window {
        top: 40px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends-item {
        width: 50%;
    }

    .modal-window {
        top: 300px;
    }
}