* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
/*==========HEADER==========*/
.header {
  padding-top: 28px;
  padding-bottom: 146px;
  background-color: #000000;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.main_menu {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.nav-menu {
  /*логотип+список*/
  display: flex;
  justify-content: space-between; /*первый к началу, последний к концу*/
  align-items: center;
  /*padding-top: 27px;
  padding-bottom: 30px;*/
}
.logo {
  width: 180px; /*ширина лого*/
}
.header-logo-link {
  display: block;
}
.header-logo-img {
  width: 100%;
}
.list-items {
  /*стиль всего списка*/
  display: flex;
  list-style: none;
}
.menu-item:nth-child(n + 2) {
  margin-left: 36px;
}
.menu-link {
  /*стиль ссылок*/
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-link:hover {
  text-decoration: underline;
}
.menu-text {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}
.menu-title {
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: uppercase;

/*==========TRENDS==========*/
.trends {
   margin-top: 60px;
}
.trends-top {
  font-size: 20px;
  text-align: center;
}
.trends-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.trend {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: calc(25% - 2px);
  min-height: 320px;
  padding: 20px;
  font-size: 16px;
  z-index: 0;
}
 .trend-1 {
  background: #000000 url(../images/trend1.jpg) no-repeat center/cover;
}
.trend-2 {
  background: #000000 url(../images/trend2.jpg) no-repeat center/cover;
}
.trend-3 {
  background: #000000 url(../images/trend3.jpg) no-repeat center/cover;
}
.trend-4 {
  background: #000000 url(../images/trend4.jpg) no-repeat center/cover;
} 
.trend-text {
  width: 100%;
  padding: 34px 28px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  z-index: 3;
}
.trend-title {
  font-size: 1.25em;
  line-height: 1.2;
  color: #ffffff;
}
.trend-title:hover {
  color: #b59f5b;
}
.trend-link {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}
.trend-teg {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 11px;
}
.trend-teg-item:not(:last-child) {
  margin-right: 18px;
}
.trend-teg-item:hover {
  text-decoration: underline;
}
.trend-teg-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
}
/*==========CONTENT==========*/
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  padding-top: 58px;
  margin: 0 auto;
}
.main {
  width: 778px;
}
.article {
  display: flex;
  align-items: flex-start;
}
.article:nth-child(n + 2) {
  margin-top: 60px;
}
.article-news_link {
  font-size: 14px;
  font-weight: 700;
  color: #cc9966;
  text-decoration: none;
}
.article-news_link:hover {
  text-decoration: underline;
}
.article-title_link:hover {
  color: #b59f5b;
}
.article-img {
  max-width: 380px;
  margin-right: 30px;
}
.article-text {
  max-width: 370px;
}
.article-all-news {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  margin-top: -6px;
}
.article-news:nth-child(n + 2) {
  margin-left: 19px;
}
.article-title {
  margin-top: 5px;
  padding-right: 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.article-title_link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.article-info {
  margin-top: 30px;
  font-size: 12px;
}
.article-date {
  color: #888888;
}
.article-author {
  margin-left: 9px;
  font-weight: bold;
}
.news-text {
  margin-top: 45px;
  font-size: 15px;
  line-height: 1.46;
}
.news-text:not(:first-child) {
  margin-top: 10px;
}
.aside {
  max-width: 272px;
  margin-top: -6px;
}
.section-title {
  font-size: 14px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}
.section-title::after {
  content: "";
  display: block;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}
.post-article {
  display: flex;
  align-items: flex-start;
  margin-top: 34px;
}
.post-article-img {
  max-width: 70px;
  margin-right: 20px;
}
.post-article-date {
  font-size: 12px;
  line-height: 0;
  color: #888888;
}
.post-article-title {
  line-height: 1;
}
.post-article-link {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.post-article-link:hover {
  color: #b59f5b;
}

.search-form {
  position: relative;
  margin-top: 60px;
}
.input-button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
.input {
  font-family: inherit;
  width: 100%;
  padding: 20px 60px 20px 20px;
  width: 270px;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}
.input:focus {
  border: 1px solid #b59f5b;
}
.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url(../svg/search.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #b59f5b;
  cursor: pointer;
}
.search-button:hover {
  background-color: #323232;
}
.mailing {
  margin-top: 62px;
}
.mailing-form {
  position: relative;
  margin-top: 23px;
}
.span-button-mailing {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
.input {
  font-family: inherit;
  width: 100%;
  padding: 20px 60px 20px 20px;
  width: 270px;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}
.input:focus {
  border: 1px solid #b59f5b;
}
.mailing-button {
  margin-top: 20px;
  font-family: inherit;
  width: 100%;
  padding: 18px 0;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #b59f5b;
  text-transform: uppercase;
  cursor: pointer;
}
.mailing-button:hover {
  background-color: #323232;
}
.input-mailing {
  margin-top: 20px;
  width: 100%;
  padding: 17px 52px 17px 18px;
  border: 0;
  background-color: #f4f7f6;
  font-size: 13px;
  overflow: hidden;
  outline: none;
}
.input-mailing:focus {
  border: 1px solid #b59f5b;
}
.button {
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
}

.tags {
  margin-top: 62px;
}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 24px;
  list-style: none;
}
.tags-list_item {
  border: 3px solid #eeeeee;
  margin-right: 5px;
  margin-bottom: 6px;
}
.tags-list_link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 13px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
.tags-list_link:hover {
  border: 2px solid #b59f5b;
}

.themes {
  margin-top: 62px;
}
.list-theme {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style-type: none;
}
.list-theme-item {
  display: flex;
  gap: 5px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
}
.list-theme-link {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}
.list-theme-link:hover {
  color: #b59f5b;
}
.list-theme-count {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #b59f5b;
}

.articles-footer {
  margin-top: 64px;
  padding-bottom: 40px;
  text-align: center;
}
.articles-socials {
  margin-bottom: 20px;
  background-color: #f4f7f6;
  padding: 30px 0;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.socials {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}
.socials-item {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.socials-link {
  display: block;
  padding: 5px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}
.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}
.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}
.socials-link-instagramm {
  background-image: url(../svg/005-instagram.svg);
}
.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  display: block;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 74px;
}
.copyright-link:hover {
  text-decoration: underline;
}
.copyright-link {
  color: #999999;
  text-decoration: none;
}
